@model RestaurantManagement.BackEnd.ViewModel.Product.ProductCreateViewModel

@{
	ViewData["Title"] = "建立最新產品";
}

<!-- Hero -->
<div class="bg-body-light">
	<div class="content content-full">
		<div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2">
			<div class="flex-grow-1">
				<h1 class="h3 fw-bold mb-1">
					產品管理
				</h1>
			</div>
			<nav class="flex-shrink-0 mt-3 mt-sm-0 ms-sm-3" aria-label="breadcrumb">
				<ol class="breadcrumb breadcrumb-alt">
					<li class="breadcrumb-item">
						<span class="link-fx">產品設定</span>
					</li>
					<li class="breadcrumb-item" aria-current="page">
						產品新增
					</li>
				</ol>
			</nav>
		</div>
	</div>
</div>
<!-- END Hero -->
<!-- Page Content -->
<div class="content">
	<!-- Dynamic Table Full -->
	<div class="block block-rounded">
		<div class="block-header block-header-default">
			<h3 class="block-title">產品新增</h3>
		</div>
		<div class="block-content block-content-full">
			<form class="row g-3 needs-validation" novalidate="" asp-action="Create" asp-controller="Product" enctype="multipart/form-data">

				<div class="col-md-12">
					<label for="validationCustom01" class="form-label">@Html.DisplayNameFor(model => model.ProductClassId)</label>
					@Html.DropDownListFor(model => model.ProductClassId, new SelectList(ViewBag.adminGroup, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
				</div>


				<div class="col-md-12">
					<label for="validationCustom01" class="form-label">@Html.DisplayNameFor(model => model.ProductName)</label>
					<input asp-for="ProductName" class="form-control" type="text" />
					<span asp-validation-for="ProductName" class="text-danger"></span>
				</div>


				<div class="col-md-12">
					<label for="validationCustom02" class="form-label">@Html.DisplayNameFor(model => model.Description)</label>
					<input asp-for="Description" class="form-control" type="text" />
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>


				<div class="col-md-12">
					<label for="validationCustom01" class="form-label">@Html.DisplayNameFor(model => model.ProductImg1)</label>
					<label style="display:block;">
						<img id="imgPreview" src="/BackEnd/uploadimg.png" style="height:300px" />
						<input asp-for="ProductImg1" class="form-control" type="file" style="display:none;" onchange="showPreview(event)" />
					</label>
					<label onclick="remove(event)">刪除圖片</label>
					<span asp-validation-for="ProductImg1" class="text-danger"></span>
				</div>


				<div class="col-md-12">
					<label for="validationCustom02" class="form-label">@Html.DisplayNameFor(model => model.Price)</label>
					<input asp-for="Price" class="form-control" type="number" />
					<span asp-validation-for="Price" class="text-danger"></span>
				</div>


				<div class="col-mt-12">
					<button class="btn btn-primary" onclick="checkPassword();" type="submit">送出</button>
					<a asp-action="Index" class="btn btn-primary">返回列表</a>
				</div>

			</form>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script>
		var imgPreview = document.querySelector('#imgPreview');

		var file = document.querySelector('#imgPreview');


		function showPreview(event) {
			if (event.target.files.length > 0) {
				var src = URL.createObjectURL(event.target.files[0]);
				imgPreview.src = src;
				imgPreview.style.display = "block";
			}
		}


		function remove(event) {
			imgPreview.src = "/BackEnd/uploadimg.png";

			var fileInput = document.getElementById("ProductImg1");
			fileInput.value = null; // Clear the selected file
		}
	</script>
}

